<div class="dropshadow">
  <form [formGroup]='nieuweWedstrijd' (ngSubmit)='onSubmit()'>
    <h3>Nieuwe wedstrijd voor {{speler.naam}}</h3>
    <div>
      <div class="formComponent">
        <label for="datumGespeeld">Datum gespeeld: </label>
        <input id="datumGespeeld" formControlName="datumGespeeld" type="date" min="2017-01-01" max="2030-01-01" #datumGespeeld/>
      </div>
      <div class="formComponent">
        <label for="puntenGewonnen">Punten gewonnen: </label>
        <select id="puntenGewonnen" formControlName="puntenGewonnen" #puntenGewonnen>
          <option *ngFor="let score of MOGELIJKE_SCORES">{{score}}</option>
        </select>
      </div>
      <div class="formComponent">
        <label for="tegenstander">Tegenstander: </label>
        <select id="tegenstander" formControlName="tegenstander" #tegenstander>
          <option>-- Selecteer een tegenstander --</option>
          <option *ngFor="let speler of getFilteredSpelers()" value="{{speler.naam}}">{{speler.naam}}</option>
        </select>
      </div>
      <div class="error" *ngIf="!nieuweWedstrijd.valid">Foute input! (aparte messages nog checken, niet via nieuweWedstrijd maar via property, ook niet direct weergeven, zie ergens hfst forms)</div>
    </div>
    <button (click)="goBack()">Terug</button>
    <button type="submit">Opslaan</button>
  </form>
  REMOVE {{nieuweWedstrijd.value | json}} {{ nieuweWedstrijd.valid}}
</div>