.selected {
    background-color: rgba(50, 50, 50, 0.50) !important;
    border: 1px solid black;
    color:white;
}
.spelerlijst {
    //margin: 0 0 2em 0;
    list-style-type: none;
    padding:0;
    width: 20em;
    li{
        padding:0.5em;
        cursor: pointer;
        position: relative;
        background-color: rgb(126, 137, 143);
        border: 1px solid #DDD;
        margin: .2em;
        height: 1em;
        .selected:hover {
            background-color: #BBD8DC !important;
            color: white;
        }
    }
    li:hover{
        color: #607D8B;
        background-color: #DDD;
    }
}
button.delete {
    float: right;
    margin-top: 2px;
    margin-right: .8em;
    background-color: gray !important;
    color:white;
}

#spelers{
    float:left;
    max-width:40%;
}
#details{
    float:right;
    overflow:auto;
    width: 30%;
    max-width: 40%;
    box-shadow: #000 3px 3px 6px 1px;
    background-color: rgba(50, 50, 50, 0.50);
    padding: 0.5em;
    margin-bottom: 0.4em;
}