<div class="dropshadow">
  <h2>Spelers</h2>
  <ul class="spelers">
    <li *ngFor="let speler of spelers" [class.selected]="speler === selectedSpeler" (click)="onSelect(speler)">
      <span>{{speler.naam}}</span>
      <button class="delete" (click)="delete(speler); $event.stopPropagation()">x</button>
      <!-- $event.stopPropagation zorgt er hier voor dat de het click event niet verder gezet wordt, zie onSelect
    zodanig dat er geen speler aan selectedSpeler wordt toegekend-->
    </li>
  </ul>
  <div>
    <label for="naam">Naam van de speler:</label>
    <input id="naam" name="naam" #spelerNaam/>
    <button (click)="add(spelerNaam.value); spelerNaam.value=''">Voeg toe</button> <!-- add(spelerNaam) als je met HTMLInputElement werkt-->
  </div>
  <div *ngIf="selectedSpeler">
    <h2>
      {{selectedSpeler.naam | uppercase}} details
    </h2>
    <!-- hier nog details toevoegen zoals adres etc... -->
    <button (click)="gotoEdit()">Wijzig spelergegevens</button>
  </div>
</div>