<div class="dropshadow">
    <h2>Info</h2>
    <p>Gecreëerd door Yves Vanduynslager als opdracht voor Webapps III</p>
    <p>Angular, Node, MongoDB</p>
    <p>Jaar 3, semester 1</p>
    <p>2017-2018</p>

    <h3>TODO:</h3>
    <ul>
        <li>
            Wedstrijd en Speler wijzigen naar many to many relatie:
            <br/> Bij het toevoegen van een wedstrijd voor een speler moet er ook een wedstrijd voor zijn tegenstander toegevoegd
            worden.
            <br/> Bij verwijderen van een wedstrijd, moet de overeenstemmende wedstrijd van de tegenstander ook verwijderd worden.
        </li>
        <li>
            Toevoegen van roles voor users (admin en gewone user).
        </li>
        <li>
            Bugfix voor totaal verloren punten in dashboard.
        </li>
        <li>
            Promises wijzigen naar Observables.
        </li>
    </ul>
</div>