<div>
    <nav id="header" class="dropshadow">
        <h1>{{title}}</h1>
        <ul class="nav">
            <li routerLink="darts/dashboard">
                Dashboard
            </li>
            <li routerLink="darts/spelers">
                Spelers
            </li>
            <li routerLink="/info">
                Info
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
    <footer class="dropshadow">
        <a href="mailto:yves.vanduynslager.j1307@student.hogent.be">Contact Yves Vanduynslager</a>
    </footer>
</div>