<div class="dropshadow">
  <div id="spelers">
    <h2>Spelers</h2>
    <ul class="spelerlijst">
      <li *ngFor="let speler of spelers" [class.selected]="speler === selectedSpeler" (click)="onSelect(speler)">
        <span>{{speler.naam}}</span>
        <button class="delete" (click)="delete(speler); $event.stopPropagation()">x</button>
        <!-- $event.stopPropagation zorgt er hier voor dat de het click event niet verder gezet wordt, zie onSelect
    zodanig dat er geen speler aan selectedSpeler wordt toegekend-->
      </li>
    </ul>
    <div id="nieuweSpeler" class="dropshadow">
      <form [formGroup]='nieuweSpeler' (ngSubmit)='onSubmit()'>
        <h3>Nieuwe speler:</h3>
        <div>
          <label for="naam">Naam:</label>
          <input type="text" id="naam" formControlName="naam" #spelerNaam/>
          <div class="error" *ngIf='nieuweSpeler.get("naam").errors?.required && nieuweSpeler.get("naam").touched'>Naam is verplicht</div>
          <div class="error" *ngIf='nieuweSpeler.get("naam").errors?.minlength && nieuweSpeler.get("naam").touched'>Naam moet uit minstens {{nieuweSpeler.get("naam").errors?.minlength.requiredLength }} letters bestaan</div>
        </div>
        <button type="submit">Voeg toe</button>
        <!-- <button (click)="add(spelerNaam.value); spelerNaam.value=''">Voeg toe</button> -->
        <!-- add(spelerNaam) als je met HTMLInputElement werkt-->
      </form>
    </div>
  </div>
  <div id="details" class="dropshadow" *ngIf="selectedSpeler">
    <h2>Details</h2>
    <h3>
      Naam: {{selectedSpeler.naam | uppercase}}
    </h3>
    <!-- hier nog details toevoegen zoals adres etc... -->
    <button (click)="gotoEdit()">Speler aanpassen</button>
  </div>
</div>