a{
    text-decoration: none;
}
h3{
    text-align: center;
    margin-bottom: 0;
}
h4{
    position: relative;
}
table
{
    width: 50%;
    margin: 0;
    border-spacing: 5px;
}
th
{
    text-align:left;
    padding-left: 5px;
    border-spacing: 5px;
    background-color: gainsboro;
    color:steelblue;
}
td
{
    color:gainsboro;
    padding: 0 1% 0 1%;
}
tr{
    text-align:left;
    max-height:100px;
    min-width: 40px;
    background-color: #607D8B;
    cursor: pointer; 
}
tr:hover{
    background-color:darkgray;
}
@media (max-width: 600px){
    *{
        font-size:10px;
    }
    table{
        width:100%;
    }
}
@media (max-width: 1024px){
    table{
        width:100%;
    }
}