<h2>Rangschikking</h2>
<!-- veranderen naar tabel ipv div -->
<div class="grid grid-pad">
    <a *ngFor="let speler of spelers" [routerLink]="['/detail', speler.id]" class="col-1-4">
        <div class="module speler">
            <h4>{{speler.naam}}</h4>
            <!-- totaal gewonnen punten
            totaal verloren punten
            matches gespeeld
            detail-link gaat naar wedstrijd-detail met lijst van zijn wedstrijden
            de detail methode haalt spelerwedstrijden op
        SpelerWedstrijd slaat spelerid, wedstrijdid, verlorenpunten, gewonnen punten op-->
        </div>
    </a>
</div>

<div>
    <table>
        <tr>
        <th>Naam</th>
        <th>Totaal gewonnen punten</th>
        <th>Totaal verloren punten</th>
        <th>Matches gespeeld</th>
        TODO: <th>detail link</th>
        </tr>
        <tr *ngFor="let speler of spelers" [routerLink]="['/detail', speler.id]" >
            <td>{{speler.naam}}</td>
            <td>{{speler.totaalPunten}}</td>
            <td>{{speler.totaalVerlorenPunten}}</td>
            <td>{{speler.aantalGespeeld}}</td>
        </tr>
    </table>
</div>