<div class="dropshadow">
    <h2>Rangschikking (klik op een naam van een speler voor details)</h2>
    <table>
        <tr>
            <th>Speler</th>
            <th>Totaal gewonnen punten</th>
            <th>Totaal verloren punten</th>
            <th>Matches gespeeld</th>
        </tr>
        <tr *ngFor="let speler of spelers">
            <td [routerLink]="['/detail', speler.id]">
                <h4>{{speler.naam}}</h4>
                <!-- totaal gewonnen punten
            totaal verloren punten
            matches gespeeld
            detail-link gaat naar wedstrijd-detail met lijst van zijn wedstrijden
            de detail methode haalt spelerwedstrijden op
        SpelerWedstrijd slaat spelerid, wedstrijdid, verlorenpunten, gewonnen punten op-->
            </td>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
        </tr>
        </table>
</div>